@charset "UTF-8";


body {
  font-weight: 400;
  background-color: #EEEFF4;
}

body,
html,
.App,
.vertical-center {
  width: 100%;
  height: 100%;
}

 .feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.hero-background {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-home-page {
  background-image: url(../images/foto-portada-opt.jpg);
  min-height: 400px;
}

.internal-hero {
  min-height: 250px;
  max-height: 250px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
}


.thumbs img{
  width: 100%;
  margin-bottom: 30px;
}

.blend-mode-multiply {
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}

.flah-sv {
  max-width: 65px;
}

.hero-background {
  background-color: #000;
}


h1.display-1 {
  font-size: 3rem;
}

h2.lead {
  font-size: 2rem;
}


.navbar {
  background: transparent !important;
  width: 100%;
}


.navbar .nav-link {
  color: #0c2b4c;
}

.navbar.admin {
  background: #0047AB !important;
}

.navbar.admin .nav-link {
  color: #fff;
}

.logout {
  font-size: 10px;
}

.btn-outline-primary {
  border-color: #1833FF;
  color: #1833FF;
}

.btn-outline-primary:hover {
  background-color: #1833FF;
  color: #ffffff;
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all .3s;
  border-radius: 20px;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

.h-full-wf {
  min-height: calc(100vh - 175px);
}

.header-int {
  background-color: #3110a8;
}

.dark-bg .navbar .nav-link {
  color: #fff;
}

.site-image {
  min-height: 190px;
  max-height: 190px;  
}

.site-image img {
  min-height: 100%;
  max-height: 100%;
}

.chip {
  border-radius: 50px;
  padding: 3px 22px;
  display: block;
  width: auto;
  background: #ff8200;
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}